/* MEDIA QUERIES*/
:root {
  --primery-dark-color: #000000;
  --primery-white-color: #f0f8ff;
  --main-font: "Ubuntu", sans-serif;
  --text-shadow: 1px 1px 2px black, 0 0 1em rgb(238, 226, 226);
  --primery-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  color: var(--primery-white-color);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body.scroll-hidden {
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: var(--main-font);
  background-color: var(--primery-dark-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.section {
  padding: 30px 0;
}

@media (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .title {
    font-size: 28px;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 34px;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 28px;
  }
}

.text {
  font-size: 16px;
}

@media (min-width: 768px) {
  .text {
    font-size: 22px;
  }
}

.header {
  display: none;
}

@media (min-width: 768px) {
  .header {
    display: block;
  }
}

.header__list {
  display: flex;
}

.hero__title {
  color: var(--primery-white-color);
  font-weight: 700;
  font-size: 32px;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 50px;
  }
}

@media (min-width: 1280px) {
  .hero__title {
    font-size: 52px;
  }
}

.hero__img {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hero__img {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .hero__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .hero__wrapper {
    flex-basis: 45%;
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .hero__wrapper {
    text-align: right;
    flex-basis: 60%;
  }
}

.hero__desc {
  font-size: 28px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .hero__desc {
    margin-bottom: 30px;
    font-size: 34px;
  }
}

@media (min-width: 1280px) {
  .hero__desc {
    font-size: 42px;
  }
}

.hero__desc::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--primery-white-color);
}

.hero__box {
  text-align: left;
}

@media (min-width: 768px) {
  .skills__container {
    display: flex;
    justify-content: space-between;
  }
}

.skills__box {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .skills__box {
    flex-basis: 59%;
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .skills__box {
    flex-basis: 70%;
  }
}

.soft-skills__list {
  margin-bottom: 30px;
}

.technical__item:not(:last-child) {
  margin-bottom: 12px;
}

.languages__item {
  display: flex;
}

.languages__descr {
  margin-left: auto;
}

@media (min-width: 1280px) {
  .profession__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .profession__box {
    margin-bottom: 0;
    flex-basis: 45%;
  }
}

.profession__box:not(:last-child) {
  margin-bottom: 30px;
}

.profession__item:not(:last-child) {
  margin-bottom: 10px;
}

.profession__date {
  border-bottom: 2px solid var(--primery-white-color);
}

.projects__link {
  display: block;
  transition: text-shadow var(--primery-transition);
}

.projects__link:hover, .projects__link:focus {
  text-shadow: var(--text-shadow);
}

.footer {
  padding: 30px 0;
}

.contact__list {
  display: flex;
  justify-content: center;
}

.contact__item:not(:last-child) {
  margin-right: 10px;
}

.contact__item {
  width: 50px;
  height: 50px;
}

.contact__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primery-dark-color);
  color: var(--primery-white-color);
  transition: color var(--primery-transition), background-color var(--primery-transition);
}

.contact__link:hover, .contact__link:focus {
  background-color: var(--primery-white-color);
  color: var(--primery-dark-color);
}

.contact__link--header {
  background-color: var(--primery-white-color);
  color: var(--primery-dark-color);
}

.contact__link--header:hover, .contact__link--header:focus {
  background-color: var(--primery-dark-color);
  color: var(--primery-white-color);
}

.contact__icon {
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.mobile-menu__button {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: var(--primery-dark-color);
  color: var(--primery-white-color);
  padding: 0;
  z-index: 10;
  right: 0;
  top: 0;
  transition: color var(--primery-transition), background-color var(--primery-transition);
}

.mobile-menu__button.is-open {
  background-color: var(--primery-white-color);
  color: var(--primery-dark-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__icon {
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.mobile-menu__close {
  display: none;
}

.mobile-menu__button.is-open .mobile-menu__close {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__open {
  display: none;
}

.mobile-menu {
  position: fixed;
  background-color: var(--primery-white-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform var(--primery-transition);
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0%);
}
/*# sourceMappingURL=main.css.map */