:root {
  --primery-dark-color: #000000;
  --primery-white-color: #f0f8ff;
  --main-font: "Ubuntu", sans-serif;
  --text-shadow: 1px 1px 2px black, 0 0 1em rgb(238, 226, 226);
  --primery-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
