.title {
  font-size: 20px;
  margin-bottom: 15px;
  @include mq(tablet) {
    font-size: 28px;
  }
  @include mq(desktop) {
    font-size: 34px;
  }
}
.subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  @include mq(tablet) {
    font-size: 28px;
  }
}

.text {
  font-size: 16px;
  @include mq(tablet) {
    font-size: 22px;
  }
}
